<div class="container">
  <div class="logo">
    <h2>
      <%= link_to root_url do %>
        Leanear
      <% end %>
    </h2>
  </div>
  <header>
    <div class="query">
      <div id="editor"><%= params[:query] %></div>
    </div>
    <%= form_tag root_path, method: :get, id: 'search-form' do %>
      <%= hidden_field_tag :query, params[:query] %>
    <% end %>
  </header>
  <% if params[:query] %>
    <section class="results">
      <%= render 'message', message: @message if @message %>
      <%= render 'results', results: @nodes if @nodes %>
    </section>
  <% else %>
    <section class="about">
      <p>
        This is a <strong>minimalistic prototype</strong> of a search engine.
        No Magic. What you query is what you get.
      </p>

      <h3>Usage:</h3>
      <p><strong>query ></strong> [type] [where [condition]]</p>
      <dl>
        <dt><strong>type:</strong></dt>
          <dd>sites, profiles, articles</dd>
        <dt><strong>conditions:</strong></dt>
          <dd>id = "ID"</dd>
          <dd>author = "AUTHOR"</dd>
          <dd>etc.</dd>
      </dl>

      <h3>Examples:</h3>
      <dl class="examples">
        <dt>All articles:</dt>
          <dd>
            <%= link_to root_url(query: 'articles') do %>
              <code>articles</code>
            <% end %>
          </dd>
        <dt>All profiles:</dt>
          <dd>
            <%= link_to root_url(query: 'profiles') do %>
              <code>profiles</code>
            <% end %>
          </dd>
        <dt>Article by id</dt>
          <% article = Article.last %>
          <dd>
            <%= link_to root_url(query: "articles where _id = \"#{article.id}\"") do %>
              <code>articles where _id = "<%= article.id %>"</code>
            <% end %>
          </dd>
      </dl>

      <h3>Roadmap:</h3>

      <ul>
        <li>Add multiple conditions to query (Ex. articles where author = "John" and published = "yesterday")</li>
        <li>Add ordering to query (Ex. articles order by title)</li>
        <li>Crawle 500k pages</li>
        <li>Add other type of content (Ex. repository, video, book)</li>
      </ul>

      <h3>Notes:</h3>

      <p>If you have any question please contact me by <%= mail_to "choixer@gmail.com", 'email' %>.</p>
      <p>(c) Anton Volkov 2014</p>
    </section>
  <% end %>
</div>


<%= javascript_include_tag "//cdn.jsdelivr.net/ace/1.1.3/min/ace.js" %>
<%= javascript_include_tag "//cdn.jsdelivr.net/ace/1.1.3/min/ext-language_tools.js" %>
<script>
  var updateUrl = function() {
    var query = $('input#query').val();
    var path = "?query=" + encodeURIComponent(query);
    history.pushState({}, 'title', path);
  }

  ace.require("ace/ext/language_tools");

  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/tomorrow_night");
  editor.getSession().setMode("ace/mode/sql");
  editor.renderer.setShowGutter(false);
  editor.setHighlightActiveLine(false);
  editor.setShowPrintMargin(false);
  editor.setOptions({
    enableBasicAutocompletion: true
  });

  document.getElementById('editor').style.fontSize='14px';

  editor.commands.bindKey("enter", function(editor) {
    $('input#query').val(editor.getValue());
    $('form#search-form').submit();
    updateUrl();
  }); 

  editor.commands.bindKey("up", function(editor) { /* do nothing */ });
  editor.commands.bindKey("down", function(editor) { /* do nothing */ });

  $('a#next-page').click(function(e) {
    var current_page = parseInt($('input#page').val());
    $('input#page').val(current_page + 1);
    $('form#search-form').submit();
    updateUrl();
    return false;
  });
</script>